---

---

<h1 class="text-center font-bold text-4xl mt-4">Leidi Silvan</h1>
<h2 class="text-center">Desarrolladora FullStack</h2>
<section class="flex justify-center w-full mt-4">
  <img
    src="./picture.webp"
    alt="Portfolio Image"
    class="w-40 h-40 object-cover rounded-full"
  />
</section>
<section class="flex justify-center w-full mt-4 gap-4">
  <a
    class="text-white bg-indigo-500 hover:bg-indigo-600 rounded-md px-5 py-1"
    href="/leidi_elvira_lopez_silvan.pdf"
    download
  >
    Mi CV
  </a>

  <a
    class="text-white bg-indigo-500 hover:bg-indigo-600 rounded-md px-5 py-1"
    id="link-github"
    href="https://github.com/LeidiSilvan"
    target="_blank">GitHub</a
  >
  <a
    class="text-white bg-indigo-500 hover:bg-indigo-600 rounded-md px-5 py-1"
    id="link-linkedin"
    href="https://www.linkedin.com/in/leidisilvan/"
    target="_blank">LinkedIn</a
  >
  <a
    class="text-white bg-indigo-500 hover:bg-indigo-600 rounded-md px-5 py-1"
    id="link-correo"
    href="mailto:silvanleidi@gmail.com"
    target="_blank">Correo</a
  >
</section>
