---

---

<h1 class="text-center font-bold text-4xl">Leidi Silvan</h1>
<h2 class="text-center">Desarrolladora FullStack</h2>
<img
  src="./picture.webp"
  alt="Portfolio Image"
  class="w-40 h-40 object-cover rounded-full"
/>

<a
  href="/leidi_elvira_lopez_silvan.pdf"
  class="mt-4 inline-block rounded bg-indigo-400 px-4 py-2 text-white"
  download
>
  Mi CV
</a>

<style>
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
</style>
