---
import cvIcon from "./imagenesIcons/cv.svg";
import htmlIcon from "./imagenesIcons/HTML.svg";
import cssIcon from "./imagenesIcons/CSS.svg";
import jsIcon from "./imagenesIcons/JS.svg";
import javaGif from "./imagenesIcons/java.gif";
import gitIcon from "./imagenesIcons/git.svg";
import githubIcon from "./imagenesIcons/github.svg";
import astroIcon from "./imagenesIcons/astro.png";
import bootsIcon from "./imagenesIcons/boots.svg";
import sqlIcon from "./imagenesIcons/sql.png";
import ideaIcon from "./imagenesIcons/idea.svg";
import vscIcon from "./imagenesIcons/vsc.svg";
import postmanIcon from "./imagenesIcons/postman.svg";
import scrumIcon from "./imagenesIcons/scrum.png";
import reactIcon from "./imagenesIcons/REAC-.png";
// project images not present in repo; use existing asset as fallback
---

<section class="relative w-full h-64">
  <!-- restaurado h-64 -->
  <!-- eliminado h-64 para evitar espacio fijo -->
  <img
    class="w-full h-full object-cover"
    src="https://p2.piqsels.com/preview/624/200/891/code-computer-technology-html.jpg"
    alt=""
  />
  <div
    class="absolute inset-0 flex flex-col items-center justify-center text-white bg-black/50"
  >
    <h1 class="text-6xl font-black mb-2 text-center">LEIDI SILVAN</h1>
    <h2 class="text-2xl font-light mb-4 text-center">
      DESARROLLADORA FULLSTACK
    </h2>
    
    <div class="absolute left-1/2 -bottom-30 transform -translate-x-1/2 z-10">
      <img
        src="/picture.webp"
        alt="Portfolio Image"
        class="w-40 h-40 object-cover rounded-full border-7 border-white shadow-lg bg-white"
      />
    </div>
  </div>

  
  <section class="flex flex-col items-center mt-40">
    <h3 class="text-2xl font-bold mb-6">Sobre mi</h3>
    <p class="max-w-2xl text-center px-4">
      ❤️ Apasionada por construir experiencias web accesibles y dinámicas.
      <br />
      Me enfoco en crear soluciones que no solo se vean bien, sino que también ofrezcan
      rendimiento, accesibilidad y escalabilidad.
    </p>
  </section>
  

  